.logo {
  padding: 20px;
  background-color:#6495ed;
  color: black;
  height: 100px;
}

.menu {
  background-color:#ADD8E6;
  width: 100%;
  display: inline-block;
}

.menu ul li {
  display: inline;
}

ul {
  float: right;
}

li {
  padding: 10px;
}

.nav-item{
color:black;
}

.box_cari {
  width: 750px;
  height: 50px;
  margin-left: 190px;
}

input {
  width: 650px;
  height: 50px;
}

button {
  width: 80px;
  height: 50px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product .name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product .price {
  color: #888;
}

.conten_produk {
  display: inline-flex;
  padding: 10px;
  margin-left: 50px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6495ed;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}