.logo {
  padding: 20px;
  background-color: #6495ed;
  color: black;
  height: 100px;
}

.menu {
  background-color:#ADD8E6;
  width: 100%;
  display: inline-block;
}

.menu ul li {
  display: inline-block;
}
ul {
  float: right;
  
}

li {
  padding: 10px;
}

.nav-item{
color:black;
}

.chat-container {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  overflow: hidden;
}

.chat-messages {
  height: 670px;
  padding: 10px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.received {
  background-color: #f1f0f0;
  text-align: left;
}

.sent {
  background-color: #eff6ff;
  text-align: right;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.chat-input button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #6495ed;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
