.logo {
  padding: 20px;
  background-color: #6495ed;
  color: black;
  height: 100px;
}

.menu {
  background-color:#ADD8E6;
  width: 100%;
  display: inline-block;
}

.menu ul li {
  display: inline-block;
}
ul {
  float: right;
  
}

li {
  padding: 10px;
}

.nav-item{
color:black;
}

.cart-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cart-items {
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 100px;
    height: 80px;
    margin-right: 10px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .remove-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkout-button {
    padding: 10px 20px;
    background-color: #6495ed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  